# 辐照度预测——数据提取重组融合

In [1]:
import os
import random
import pandas as pd
import numpy as np
import math 
import matplotlib.pyplot as plt

from pandas import read_csv
from math import sqrt

In [2]:
print(os.getcwd())

E:\Research Project\DKA-WeatherStation

In [3]:
os.listdir(os.getcwd())

['.ipynb_checkpoints',
 '101-Site_DKA-WeatherStation.csv',
 '2009-2018辐照度.csv',
 '2009按天辐照度.csv',
 '2010按天辐照度.csv',
 '2011-2018辐照度.csv',
 '2011按天辐照度.csv',
 '2011辐照度.csv',
 'aaa.py',
 '辐照度预测———异常值空缺值融合构建训练集测试集.ipynb',
 '辐照度预测——数据提取重组融合.ipynb']

In [4]:
read_dataset = pd.read_csv('101-Site_DKA-WeatherStation.csv')
print(read_dataset.shape)

(1048575, 17)

In [5]:
read_dataset.head(3)

,Timestamp,DKA.WeatherStation - Wind Speed (m/s),DKA.WeatherStation - Weather Temperature Celsius (°C),DKA.WeatherStation - Weather Relative Humidity (%),DKA.WeatherStation - Global Horizontal Radiation (W/m²),DKA.WeatherStation - Diffuse Horizontal Radiation (W/m²),DKA.WeatherStation - Wind Direction (Degrees),DKA.WeatherStation - Weather Daily Rainfall (mm),DKA.WeatherStation - Radiation Global Tilted (W/m²),DKA.WeatherStation - Radiation Diffuse Tilted (W/m²),DKA.WeatherStation - Wind Speed (m/s).1,DKA.WeatherStation - Weather Temperature Celsius (°C).1,DKA.WeatherStation - Weather Relative Humidity (%).1,DKA.WeatherStation - Global Horizontal Radiation (W/m²).1,DKA.WeatherStation - Diffuse Horizontal Radiation (W/m²).1,DKA.WeatherStation - Wind Direction (Degrees).1,DKA.WeatherStation - Weather Daily Rainfall (mm).1
0,2008/9/11 20:25,2.395352,30.105183,13.380106,834.317200,83.086945,269.252838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2008/9/11 20:30,2.048081,30.238052,13.365158,844.197022,80.936752,264.254639,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2008/9/11 20:35,1.905630,30.731113,13.043653,847.694153,77.025612,262.018890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
strsplit = read_dataset.Timestamp.str.split(expand = True)
strsplit.rename(columns={0:'date',1:'time'},inplace=True)
date = strsplit.date.str.split(expand = True,pat='/')
date.rename(columns={0:'Year',1:'Month',2:'Day'},inplace=True)
time = strsplit.time.str.split(expand = True,pat=':')
#time.rename(columns = {0:'H',1:'M',2:'S'},inplace = True)
time.rename(columns = {0:'Hour',1:'Minutes'},inplace = True)
read_dataset = pd.concat([read_dataset,date,time],axis=1)

In [7]:
read_dataset.columns

Index(['Timestamp', 'DKA.WeatherStation - Wind Speed (m/s)',
       'DKA.WeatherStation - Weather Temperature Celsius (°C)',
       'DKA.WeatherStation - Weather Relative Humidity (%)',
       'DKA.WeatherStation - Global Horizontal Radiation (W/m²)',
       'DKA.WeatherStation - Diffuse Horizontal Radiation (W/m²)',
       'DKA.WeatherStation - Wind Direction (Degrees)',
       'DKA.WeatherStation - Weather Daily Rainfall (mm)',
       'DKA.WeatherStation - Radiation Global Tilted (W/m²)',
       'DKA.WeatherStation - Radiation Diffuse Tilted (W/m²)',
       'DKA.WeatherStation - Wind Speed (m/s).1',
       'DKA.WeatherStation - Weather Temperature Celsius (°C).1',
       'DKA.WeatherStation - Weather Relative Humidity (%).1',
       'DKA.WeatherStation - Global Horizontal Radiation (W/m²).1',
       'DKA.WeatherStation - Diffuse Horizontal Radiation (W/m²).1',
       'DKA.WeatherStation - Wind Direction (Degrees).1',
       'DKA.WeatherStation - Weather Daily Rainfall (mm).1', 'Year', 'Month',
       'Day', 'Hour', 'Minutes'],
      dtype='object')

In [8]:
read_dataset.head(3)

,Timestamp,DKA.WeatherStation - Wind Speed (m/s),DKA.WeatherStation - Weather Temperature Celsius (°C),DKA.WeatherStation - Weather Relative Humidity (%),DKA.WeatherStation - Global Horizontal Radiation (W/m²),DKA.WeatherStation - Diffuse Horizontal Radiation (W/m²),DKA.WeatherStation - Wind Direction (Degrees),DKA.WeatherStation - Weather Daily Rainfall (mm),DKA.WeatherStation - Radiation Global Tilted (W/m²),DKA.WeatherStation - Radiation Diffuse Tilted (W/m²),...,DKA.WeatherStation - Weather Relative Humidity (%).1,DKA.WeatherStation - Global Horizontal Radiation (W/m²).1,DKA.WeatherStation - Diffuse Horizontal Radiation (W/m²).1,DKA.WeatherStation - Wind Direction (Degrees).1,DKA.WeatherStation - Weather Daily Rainfall (mm).1,Year,Month,Day,Hour,Minutes
0,2008/9/11 20:25,2.395352,30.105183,13.380106,834.317200,83.086945,269.252838,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2008,9,11,20,25
1,2008/9/11 20:30,2.048081,30.238052,13.365158,844.197022,80.936752,264.254639,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2008,9,11,20,30
2,2008/9/11 20:35,1.905630,30.731113,13.043653,847.694153,77.025612,262.018890,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2008,9,11,20,35

In [9]:
read_dataset.columns

Index(['Timestamp', 'DKA.WeatherStation - Wind Speed (m/s)',
       'DKA.WeatherStation - Weather Temperature Celsius (°C)',
       'DKA.WeatherStation - Weather Relative Humidity (%)',
       'DKA.WeatherStation - Global Horizontal Radiation (W/m²)',
       'DKA.WeatherStation - Diffuse Horizontal Radiation (W/m²)',
       'DKA.WeatherStation - Wind Direction (Degrees)',
       'DKA.WeatherStation - Weather Daily Rainfall (mm)',
       'DKA.WeatherStation - Radiation Global Tilted (W/m²)',
       'DKA.WeatherStation - Radiation Diffuse Tilted (W/m²)',
       'DKA.WeatherStation - Wind Speed (m/s).1',
       'DKA.WeatherStation - Weather Temperature Celsius (°C).1',
       'DKA.WeatherStation - Weather Relative Humidity (%).1',
       'DKA.WeatherStation - Global Horizontal Radiation (W/m²).1',
       'DKA.WeatherStation - Diffuse Horizontal Radiation (W/m²).1',
       'DKA.WeatherStation - Wind Direction (Degrees).1',
       'DKA.WeatherStation - Weather Daily Rainfall (mm).1', 'Year', 'Month',
       'Day', 'Hour', 'Minutes'],
      dtype='object')

In [10]:
read_dataset.rename(columns={
       'DKA.WeatherStation - Wind Speed (m/s)':'WS',
       'DKA.WeatherStation - Weather Temperature Celsius (°C)':'TC',
       'DKA.WeatherStation - Weather Relative Humidity (%)':'RH',
       'DKA.WeatherStation - Global Horizontal Radiation (W/m²)':'GHR',
       'DKA.WeatherStation - Diffuse Horizontal Radiation (W/m²)':'DHR',
       'DKA.WeatherStation - Wind Direction (Degrees)':'WD',
       'DKA.WeatherStation - Weather Daily Rainfall (mm)':'DR',
       'DKA.WeatherStation - Radiation Global Tilted (W/m²)':'RGT',
       'DKA.WeatherStation - Radiation Diffuse Tilted (W/m²)':'RDT',
       'DKA.WeatherStation - Wind Speed (m/s).1':'WS',
           },inplace=True)

In [11]:
read_dataset.head(3)

,Timestamp,WS,TC,RH,GHR,DHR,WD,DR,RGT,RDT,...,DKA.WeatherStation - Weather Relative Humidity (%).1,DKA.WeatherStation - Global Horizontal Radiation (W/m²).1,DKA.WeatherStation - Diffuse Horizontal Radiation (W/m²).1,DKA.WeatherStation - Wind Direction (Degrees).1,DKA.WeatherStation - Weather Daily Rainfall (mm).1,Year,Month,Day,Hour,Minutes
0,2008/9/11 20:25,2.395352,30.105183,13.380106,834.317200,83.086945,269.252838,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2008,9,11,20,25
1,2008/9/11 20:30,2.048081,30.238052,13.365158,844.197022,80.936752,264.254639,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2008,9,11,20,30
2,2008/9/11 20:35,1.905630,30.731113,13.043653,847.694153,77.025612,262.018890,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2008,9,11,20,35

In [12]:
read_dataset.columns

Index(['Timestamp', 'WS', 'TC', 'RH', 'GHR', 'DHR', 'WD', 'DR', 'RGT', 'RDT',
       'WS', 'DKA.WeatherStation - Weather Temperature Celsius (°C).1',
       'DKA.WeatherStation - Weather Relative Humidity (%).1',
       'DKA.WeatherStation - Global Horizontal Radiation (W/m²).1',
       'DKA.WeatherStation - Diffuse Horizontal Radiation (W/m²).1',
       'DKA.WeatherStation - Wind Direction (Degrees).1',
       'DKA.WeatherStation - Weather Daily Rainfall (mm).1', 'Year', 'Month',
       'Day', 'Hour', 'Minutes'],
      dtype='object')

In [13]:
dataset = read_dataset[['Timestamp','Year', 'Month',
       'Day', 'Hour', 'Minutes', 'WS', 'TC', 'RH', 'GHR', 'DHR', 'WD', 'DR', 'RGT', 'RDT',
       'WS']]

In [14]:
dataset.head(10)

,Timestamp,Year,Month,Day,Hour,Minutes,WS,WS,TC,RH,GHR,DHR,WD,DR,RGT,RDT,WS,WS
0,2008/9/11 20:25,2008,9,11,20,25,2.395352,NaN,30.105183,13.380106,834.317200,83.086945,269.252838,NaN,NaN,NaN,2.395352,NaN
1,2008/9/11 20:30,2008,9,11,20,30,2.048081,NaN,30.238052,13.365158,844.197022,80.936752,264.254639,NaN,NaN,NaN,2.048081,NaN
2,2008/9/11 20:35,2008,9,11,20,35,1.905630,NaN,30.731113,13.043653,847.694153,77.025612,262.018890,NaN,NaN,NaN,1.905630,NaN
3,2008/9/11 20:40,2008,9,11,20,40,2.298673,NaN,30.225897,13.267119,862.661987,85.598228,267.803467,NaN,NaN,NaN,2.298673,NaN
4,2008/9/11 20:45,2008,9,11,20,45,1.752018,NaN,30.539455,13.168467,869.112915,86.685730,280.555481,NaN,NaN,NaN,1.752018,NaN
5,2008/9/11 20:50,2008,9,11,20,50,1.645496,NaN,31.149042,12.896376,874.943726,81.824547,255.628159,NaN,NaN,NaN,1.645496,NaN
6,2008/9/11 20:55,2008,9,11,20,55,1.813667,NaN,31.180975,12.843425,886.115173,84.753654,265.117462,NaN,NaN,NaN,1.813667,NaN
7,2008/9/11 21:00,2008,9,11,21,00,2.072931,NaN,31.170233,12.741136,896.468933,88.191704,276.674713,NaN,NaN,NaN,2.072931,NaN
8,2008/9/11 21:05,2008,9,11,21,05,1.599532,NaN,30.889053,12.940104,903.536011,89.687805,264.212006,NaN,NaN,NaN,1.599532,NaN
9,2008/9/11 21:10,2008,9,11,21,10,1.946066,NaN,31.252842,12.769005,905.329040,87.786049,259.066406,NaN,NaN,NaN,1.946066,NaN

In [15]:
dataset_GHR = read_dataset[['Year', 'Month',
       'Day', 'Hour', 'Minutes','GHR']]

In [16]:
dataset_GHR.head(5)

   Year Month Day Hour Minutes         GHR
0  2008     9  11   20      25  834.317200
1  2008     9  11   20      30  844.197022
2  2008     9  11   20      35  847.694153
3  2008     9  11   20      40  862.661987
4  2008     9  11   20      45  869.112915

In [17]:
dataset_GHR.shape

(1048575, 6)

In [18]:
# #数据类型转换
dataset_GHR[['Year', 'Month','Day','Hour','Minutes']] = dataset_GHR[['Year', 'Month','Day','Hour','Minutes']].astype(int)
#丢弃
dataset_GHR = dataset_GHR.drop(dataset_GHR[(dataset_GHR.Hour < 7) | (dataset_GHR.Hour > 19)].index)

#数据类型还原
# dataset_GHR[['Year', 'Month','Day','Hour','Minutes']] = dataset_GHR[['Year', 'Month','Day','Hour','Minutes']].astype(object)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3381: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [19]:
dataset_GHR.shape

(568068, 6)

In [20]:
dataset_GHR.head(5)

     Year  Month  Day  Hour  Minutes       GHR
127  2008      9   12     7        0  4.233709
128  2008      9   12     7        5  3.512030
129  2008      9   12     7       10  4.577077
130  2008      9   12     7       15  4.085721
131  2008      9   12     7       20  4.718806

In [21]:
year_list = list(['2009','2010','2011','2012','2013','2014','2015','2016','2017','2018'])

month_list = list(['1','2','3','4','5','6','7','8','9','10','11','12'])

day_list = list(['1','2','3','4','5','6','7','8','9','10','11','12','13','14',
                '15','16','17','18','19','20','21','22','23','24','25','26','27',
                '28','29','30','31'])
###由于2009年2月28日 没有29，30，31 导致2009年3月写入程序跳出循环

hour_list = list(['7','8','9','10','11','12','13','14','15','16','17','18','19'])

minutes_list = list(['0','5','10','15','20','25','30','35','40','45','50','55'])

In [22]:
##扩展 列名  小时+分钟
hour_minutes=list()
for i in range(0, len(hour_list)):
    for j in range(0, len(minutes_list)):
        hour_minutes += [('%s:%s' % (hour_list[i],minutes_list[j]) )]

In [23]:
year_month_day=list()
for x in range(0, len(year_list)):
    for y in range(0, len(month_list)):
        for z in range(0, len(day_list)):
            year_month_day += [('%s/%s/%s' % (year_list[x],month_list[y],day_list[z]))]

In [24]:
# hour_minutes

In [25]:
# year_month_day

In [26]:
colum = ['Timestamp','Year','Month','Day'] + hour_minutes

In [27]:
# colum

In [28]:
len(year_month_day)

3720

In [29]:
newdata = pd.DataFrame(columns=colum)

In [30]:
newdata.head

<bound method NDFrame.head of Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]>

In [31]:
#调试
# strsplit = hour_minutes[0].split(':')

# int(strsplit[0])

# int(strsplit[1])

# int(strsplit[2])

In [32]:
dataset_GHR.head(5)

     Year  Month  Day  Hour  Minutes       GHR
127  2008      9   12     7        0  4.233709
128  2008      9   12     7        5  3.512030
129  2008      9   12     7       10  4.577077
130  2008      9   12     7       15  4.085721
131  2008      9   12     7       20  4.718806

In [33]:
# ####调试
# ghr = dataset_GHR.loc[(dataset_GHR['Year'] == 2008 ) & 
#                       (dataset_GHR['Month'] == 9 )& 
#                       (dataset_GHR['Day'] == 12 )& 
#                       (dataset_GHR['Hour'] == 7 )& 
#                       (dataset_GHR['Minutes'] == 10 ),'GHR']

# ghr

# ghr = ghr.values
# print(ghr)

In [34]:
# # a=ghr.values
# # print(a)

# newdata

# newdata = newdata.append(pd.DataFrame({'Timestamp':[i],'Year':[2008],'Month':[9],'Day':[12]}),ignore_index=False,sort=False)

# newdata

# # newdata.loc[(newdata['Year'] == 2008 ) & (newdata['Month'] == 9 )& (newdata['Day'] == 12 ),'7:0']=1234

# # newdata

In [35]:
newdata

Empty DataFrame
Columns: [Timestamp, Year, Month, Day, 7:0, 7:5, 7:10, 7:15, 7:20, 7:25, 7:30, 7:35, 7:40, 7:45, 7:50, 7:55, 8:0, 8:5, 8:10, 8:15, 8:20, 8:25, 8:30, 8:35, 8:40, 8:45, 8:50, 8:55, 9:0, 9:5, 9:10, 9:15, 9:20, 9:25, 9:30, 9:35, 9:40, 9:45, 9:50, 9:55, 10:0, 10:5, 10:10, 10:15, 10:20, 10:25, 10:30, 10:35, 10:40, 10:45, 10:50, 10:55, 11:0, 11:5, 11:10, 11:15, 11:20, 11:25, 11:30, 11:35, 11:40, 11:45, 11:50, 11:55, 12:0, 12:5, 12:10, 12:15, 12:20, 12:25, 12:30, 12:35, 12:40, 12:45, 12:50, 12:55, 13:0, 13:5, 13:10, 13:15, 13:20, 13:25, 13:30, 13:35, 13:40, 13:45, 13:50, 13:55, 14:0, 14:5, 14:10, 14:15, 14:20, 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55, ...]
Index: []

[0 rows x 160 columns]

In [ ]:
# print(os.getcwd())

In [ ]:
# newdata.to_csv('./2009-2018辐照度.csv',index=False)

In [ ]:
# for i in year_month_day:
#     ymdsplit = i.split('/')
#     year = int(ymdsplit[0])
#     month = int(ymdsplit[1])
#     day = int(ymdsplit[2])
#     if (((year==2011) & (month==3) & ((day==1) | (day==2)|(day==3)))|
#         ((year==2011) & (month==7) & (day==6))) :
#         continue
#     newdata = newdata.append(pd.DataFrame({'Timestamp':i,'Year':[year],'Month':[month],'Day':[day]}),ignore_index=False,sort=False)
#     for j in hour_minutes:
#         hmsplit = j.split(':')
#         hour = int(hmsplit[0])
#         minutes = int(hmsplit[1])
#         if ((year==2011) & (month==7) & (day==5) & (hour==19) & (minutes== 20)):
#             break
#         if (((year==2009) & (month==11) & (day==2) & (hour==17) & (minutes== 50))|
#             ((year==2011) & (month==3) & (day==4) & (hour==12) & (minutes== 10))|
#             ((year==2011) & (month==7) & (day==25) & (hour==13) & ((minutes== 20)|(minutes==25)))|
#             ((year==2011) & (month==8) & (day==15) & (hour==19) & ((minutes== 20)|(minutes==25)))):
#             continue
#         ghr = dataset_GHR.loc[(dataset_GHR['Year'] == year ) & 
#                       (dataset_GHR['Month'] == month )& 
#                       (dataset_GHR['Day'] == day )& 
#                       (dataset_GHR['Hour'] == hour )& 
#                       (dataset_GHR['Minutes'] == minutes ),'GHR']
#         ghr = ghr.values
#         newdata.loc[(newdata['Year'] == year ) & 
#                     (newdata['Month'] == month )& 
#                     (newdata['Day'] == day ),j]=ghr
#         print(i)
#         print(j)
#     newdata.to_csv('./2011辐照度.csv',index=False)

In [ ]:
for i in year_month_day:
    ymdsplit = i.split('/')
    year = int(ymdsplit[0])
    month = int(ymdsplit[1])
    day = int(ymdsplit[2])
#     if (((year==2011) & (month==3) & ((day==1) | (day==2)|(day==3)))|
#         ((year==2011) & (month==7) & (day==6))) :
#         continue
    newdata = newdata.append(pd.DataFrame({'Timestamp':i,'Year':[year],'Month':[month],'Day':[day]}),ignore_index=False,sort=False)
    for j in hour_minutes:
        hmsplit = j.split(':')
        hour = int(hmsplit[0])
        minutes = int(hmsplit[1])
#         if (((year==2009) & (month==11) & (day==2) & (hour==17) & (minutes== 50))|
#             ((year==2011) & (month==3) & (day==4) & (hour==12) & (minutes== 10))|
#             ((year==2011) & (month==7) & (day==25) & (hour==13) & ((minutes== 20)|(minutes==25)))|
#             ((year==2011) & (month==8) & (day==15) & (hour==19) & ((minutes== 20)|(minutes==25)))):
#             continue
        if dataset_GHR.loc[(dataset_GHR['Year'] == year ) & (dataset_GHR['Month'] == month )& (dataset_GHR['Day'] == day )& 
                           (dataset_GHR['Hour'] == hour )& (dataset_GHR['Minutes'] == minutes ),'GHR'].values : 
            ghr = dataset_GHR.loc[(dataset_GHR['Year'] == year ) & 
                                  (dataset_GHR['Month'] == month )& 
                                  (dataset_GHR['Day'] == day )& 
                                  (dataset_GHR['Hour'] == hour )& 
                                  (dataset_GHR['Minutes'] == minutes ),'GHR']
            ghr = ghr.values
            newdata.loc[(newdata['Year'] == year ) & 
                        (newdata['Month'] == month )& 
                        (newdata['Day'] == day ),j]=ghr
        else: continue
        print(i)
        print(j)
    newdata.to_csv('./2009-2018暂存辐照度.csv',index=False)

In [ ]:
# if dataset_GHR.loc[(dataset_GHR['Year'] == 2009 ) & (dataset_GHR['Month'] == 11 )& (dataset_GHR['Day'] == 2 )& (dataset_GHR['Hour'] == 17 )& 
# (dataset_GHR['Minutes'] == 10 ),'GHR'].values :
#     print(111)
# else:
#         print(222)

In [ ]:
# ((2009 in dataset_GHR['Year'].values) &( 11 in dataset_GHR['Month'].values) & ( 2 in dataset_GHR['Day'].values) &( 17 in dataset_GHR['Hour'].values) & ( 55 in dataset_GHR['Minutes'].values))

In [ ]:
# for i in range(0,10):
#     if ((i==2) | (i==3)):
#         continue
#     print(i)

In [ ]:
newdata.to_csv('./2011-2018辐照度.csv',index=False)