# 组合预测模型A 小波分解部分

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import keras
import pywt    #小波包
from pandas import read_csv
from numpy import concatenate
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error

C:\ProgramData\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.
C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:469: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:470: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:471: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:472: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:473: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:476: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
print(os.getcwd())

E:\Research Project\DKASC, Alice Springs

In [3]:
os.listdir(os.getcwd())

['.idea',
 '.ipynb_checkpoints',
 '101-Site_DKA-WeatherStation',
 '96-Site_DKA-MasterMeter1',
 'Alice_Springs_2016-2020',
 'CNN模型训练0809.ipynb',
 'Dataset',
 'DKASC, Alice Springs.zip',
 'logs',
 'picture',
 'Predict',
 'Program backups',
 'temp',
 'venv',
 '异常值检验.ipynb',
 '数据集_小波包分解重构数据.ipynb',
 '数据集_预处理_第二版0702.ipynb',
 '测试小波分解.ipynb',
 '测试模型0622.ipynb',
 '测试模型0704.ipynb',
 '测试模型0704批量.ipynb',
 '测试模型小波包分解0704批量.ipynb',
 '画图.ipynb',
 '画图0704.ipynb',
 '相关性分析.ipynb',
 '笔记.ipynb',
 '组合预测模型A.ipynb',
 '训练模型0622.ipynb',
 '训练模型0702.ipynb',
 '训练模型0703 WPD.ipynb']

In [4]:
os.chdir('./Dataset/')

In [5]:
os.listdir()

['DKA.Station_1-9.csv',
 'NaN_DKA.Station.csv',
 'raw_DKA.Station_1-9.csv',
 'test',
 'test0702',
 'testdata.csv',
 'testWPD',
 'test_1A.csv',
 'train',
 'train0702',
 'traindata.csv',
 'trainWPD',
 'train_1A.csv',
 '测试集8个站点.csv',
 '训练集8个站点.csv']

In [6]:
dataset = pd.read_csv('./DKA.Station_1-9.csv')

In [7]:
dataset.describe()

,Year,Month,Day,Hour,Minutes,Temperature(°C),Relative Humidity(%),Wind Direction(Degrees),Daily Rainfall(mm),Global Horizontal Radiation(W/m²),...,Station_2,Station_3,Station_4,Station_5,Station_6,Station_7,Station_8,Station_9,DKA.Meter1_power,DKA.Meter2_power
count,417731.000000,417731.000000,417731.000000,417731.000000,417731.000000,417731.000000,417731.000000,417731.000000,417731.000000,417731.000000,...,417731.000000,417731.000000,417731.000000,417731.000000,417731.000000,417731.000000,417731.000000,417731.000000,391528.000000,403205.000000
mean,2017.492216,6.499953,15.738047,11.495395,27.500616,21.715384,34.226896,143.680858,0.276158,267.778283,...,4.518498,1.452422,0.986375,0.163409,0.847764,0.912646,1.022704,1.234377,49.018519,19.359426
std,1.116441,3.445592,8.827956,6.922937,17.260186,9.918040,22.615173,121.749930,2.286298,367.362239,...,6.088244,2.361790,1.384066,0.433320,1.297187,1.376337,1.721249,1.707112,66.322418,26.526546
min,2016.000000,1.000000,1.000000,0.000000,0.000000,-5.099901,0.000000,0.000000,0.000000,0.000000,...,-0.061533,-0.072200,-0.019867,-0.010100,-0.053833,-0.097633,-0.029533,-0.026000,-1.424965,-0.783848
25%,2016.000000,4.000000,8.000000,5.000000,15.000000,15.008637,16.733972,35.332346,0.000000,2.365439,...,0.000000,0.000267,0.000333,0.000000,0.000000,-0.020000,-0.000133,0.000000,-0.526706,-0.141733
50%,2017.000000,7.000000,16.000000,11.000000,30.000000,22.225857,28.292578,93.213089,0.000000,6.480699,...,0.000000,0.011233,0.000933,0.000000,0.000000,-0.019533,0.000133,0.000000,-0.457315,-0.096730
75%,2018.000000,9.000000,23.000000,17.000000,45.000000,29.054453,47.174940,264.933380,0.000000,539.913727,...,8.780200,2.433800,2.118483,0.020000,1.624950,1.722817,1.664417,2.603300,107.032063,41.350433
max,2019.000000,12.000000,31.000000,23.000000,55.000000,45.728550,99.999390,353.920654,65.999969,1553.787354,...,23.419064,17.017265,5.019134,2.228767,5.327933,5.323267,6.646167,5.999966,229.101715,97.492569

In [8]:
train = pd.read_csv('./train0702/train_Station_1.csv')
test = pd.read_csv('./test0702/test_Station_1.csv')

In [9]:
train.head()

,Timestamp,Year,Month,Day,Hour,Minutes,Temperature(°C),Relative Humidity(%),Wind Direction(Degrees),Daily Rainfall(mm),Global Horizontal Radiation(W/m²),Diffuse Horizontal Radiation(W/m²),Station_1
0,2016/1/1 0:00,2016,1,1,0,0,17.176111,87.095665,186.941284,0.0,2.672255,1.103375,0.0
1,2016/1/1 0:05,2016,1,1,0,5,17.133446,87.671669,191.876770,0.0,2.703700,1.152340,0.0
2,2016/1/1 0:10,2016,1,1,0,10,17.084999,88.563240,188.268082,0.0,3.013785,1.566642,0.0
3,2016/1/1 0:15,2016,1,1,0,15,16.955778,90.001663,197.727295,0.0,3.421924,1.707677,0.0
4,2016/1/1 0:20,2016,1,1,0,20,16.854271,91.222733,193.704559,0.0,3.292158,1.746989,0.0

In [10]:
train.columns

Index(['Timestamp', 'Year', 'Month', 'Day', 'Hour', 'Minutes',
       'Temperature(°C)', 'Relative Humidity(%)', 'Wind Direction(Degrees)',
       'Daily Rainfall(mm)', 'Global Horizontal Radiation(W/m²)',
       'Diffuse Horizontal Radiation(W/m²)', 'Station_1'],
      dtype='object')

In [11]:
train1=train.drop(columns=['Year', 'Month', 'Day', 'Hour', 'Minutes',
       'Temperature(°C)', 'Relative Humidity(%)', 'Wind Direction(Degrees)',
       'Daily Rainfall(mm)', 'Global Horizontal Radiation(W/m²)',
       'Diffuse Horizontal Radiation(W/m²)', ])
test1= test.drop(columns=['Year', 'Month', 'Day', 'Hour', 'Minutes',
       'Temperature(°C)', 'Relative Humidity(%)', 'Wind Direction(Degrees)',
       'Daily Rainfall(mm)', 'Global Horizontal Radiation(W/m²)',
       'Diffuse Horizontal Radiation(W/m²)', ])

In [13]:
train1.head()

       Timestamp  Station_1
0  2016/1/1 0:00        0.0
1  2016/1/1 0:05        0.0
2  2016/1/1 0:10        0.0
3  2016/1/1 0:15        0.0
4  2016/1/1 0:20        0.0

In [14]:
# convert series to supervised learning
def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
#     n_vars = 1 if type(data) is list else data.shape[1]
    n_vars = list(data)
    df = pd.DataFrame(data)
    cols, names = list(), list()
    # input sequence (t-n, ... t-1)
    for i in range(n_in, 0, -1):
        cols.append(df.shift(i))
        names += [('%s(t-%d)' % (j, i)) for j in n_vars]
    # forecast sequence (t, t+1, ... t+n)
    for i in range(0, n_out):
        cols.append(df.shift(-i))
        if i == 0:
            names += [('%s(t)' % (j) )for j in n_vars]
        else:
            names += [('%s(t+%d)' % (j, i)) for j in n_vars]
    # put it all together
    agg = pd.concat(cols, axis=1)
    agg.columns = names
    # drop rows with NaN values
    if dropnan:
        agg.dropna(inplace=True)
    return agg

In [15]:
train1 = series_to_supervised(train1,12,1)
test1 = series_to_supervised(test1,12,1)

In [16]:
train1.head()

,Timestamp(t-12),Station_1(t-12),Timestamp(t-11),Station_1(t-11),Timestamp(t-10),Station_1(t-10),Timestamp(t-9),Station_1(t-9),Timestamp(t-8),Station_1(t-8),...,Timestamp(t-4),Station_1(t-4),Timestamp(t-3),Station_1(t-3),Timestamp(t-2),Station_1(t-2),Timestamp(t-1),Station_1(t-1),Timestamp(t),Station_1(t)
12,2016/1/1 0:00,0.0,2016/1/1 0:05,0.0,2016/1/1 0:10,0.0,2016/1/1 0:15,0.0,2016/1/1 0:20,0.0,...,2016/1/1 0:40,0.0,2016/1/1 0:45,0.0,2016/1/1 0:50,0.0,2016/1/1 0:55,0.0,2016/1/1 1:00,0.0
13,2016/1/1 0:05,0.0,2016/1/1 0:10,0.0,2016/1/1 0:15,0.0,2016/1/1 0:20,0.0,2016/1/1 0:25,0.0,...,2016/1/1 0:45,0.0,2016/1/1 0:50,0.0,2016/1/1 0:55,0.0,2016/1/1 1:00,0.0,2016/1/1 1:05,0.0
14,2016/1/1 0:10,0.0,2016/1/1 0:15,0.0,2016/1/1 0:20,0.0,2016/1/1 0:25,0.0,2016/1/1 0:30,0.0,...,2016/1/1 0:50,0.0,2016/1/1 0:55,0.0,2016/1/1 1:00,0.0,2016/1/1 1:05,0.0,2016/1/1 1:10,0.0
15,2016/1/1 0:15,0.0,2016/1/1 0:20,0.0,2016/1/1 0:25,0.0,2016/1/1 0:30,0.0,2016/1/1 0:35,0.0,...,2016/1/1 0:55,0.0,2016/1/1 1:00,0.0,2016/1/1 1:05,0.0,2016/1/1 1:10,0.0,2016/1/1 1:15,0.0
16,2016/1/1 0:20,0.0,2016/1/1 0:25,0.0,2016/1/1 0:30,0.0,2016/1/1 0:35,0.0,2016/1/1 0:40,0.0,...,2016/1/1 1:00,0.0,2016/1/1 1:05,0.0,2016/1/1 1:10,0.0,2016/1/1 1:15,0.0,2016/1/1 1:20,0.0

In [17]:
train1.columns

Index(['Timestamp(t-12)', 'Station_1(t-12)', 'Timestamp(t-11)',
       'Station_1(t-11)', 'Timestamp(t-10)', 'Station_1(t-10)',
       'Timestamp(t-9)', 'Station_1(t-9)', 'Timestamp(t-8)', 'Station_1(t-8)',
       'Timestamp(t-7)', 'Station_1(t-7)', 'Timestamp(t-6)', 'Station_1(t-6)',
       'Timestamp(t-5)', 'Station_1(t-5)', 'Timestamp(t-4)', 'Station_1(t-4)',
       'Timestamp(t-3)', 'Station_1(t-3)', 'Timestamp(t-2)', 'Station_1(t-2)',
       'Timestamp(t-1)', 'Station_1(t-1)', 'Timestamp(t)', 'Station_1(t)'],
      dtype='object')

In [18]:
train1.drop(train1.columns[2:-1],axis=1,inplace=True)
test1.drop(test1.columns[2:-1],axis=1,inplace=True)

In [21]:
from pywt import wavedec
coeffs = wavedec([1,2,3,4,5,6,7,8], 'db1', level=2)
cA2, cD2, cD1 = coeffs

In [24]:
cD2

array([-2., -2.])